* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#btnScrollToTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: orange;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

#btnScrollToTop:active {
  background-color: #cc2333;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  padding: 25px 35px;
  backdrop-filter: blur(8px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-style: normal;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1rem;
}

header {
  height: 100vh;
  background: url("image\ header.jpeg");
  background-size: cover;
  background-position: center center;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

li a {
  margin-left: 40px;
}

nav a {
  color: #ffffff;
  letter-spacing: 1px;
  text-decoration: none;
  cursor: pointer;
}

li a:hover {
  color: orange;
}

.head-btn {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease-in-out;
  font-family: "Josefin Sans", sans-serif;
}

.head-btn:hover {
  scale: 1.05;
}

.head-btn:active {
  scale: 0.95;
}

.about-section {
  background: url("image\ middle.jpeg") no-repeat left;
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inner-container {
  width: 50%;
  float: right;
  background-color: #fdfdfd;
  padding: 100px;
}

h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.skills-h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
  margin-top: -30px;
}

.text {
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.container-skills {
  height: 100vh;
  background: url("skills.jpeg");
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills h2 {
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 7px;
  color: black;
  font-size: 25px;
}

.progress-bar {
  background-color: #959595;
  width: 600px;
  height: 50px;
  border-radius: 20px;
}

.progress-bar div {
  height: 50px;
  border-radius: 20px;
  width: 0%;
}

.progress-bar div span {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #222;
  float: right;
  margin-top: -10px;
  margin-right: -15px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.html {
  background-color: #fff;
  animation: html 1s linear forwards;
}

.css {
  background-color: #fff;
  animation: css 1s linear forwards;
}

.javascript {
  background-color: #fff;
  animation: javascript 1s linear forwards;
}

.php {
  background-color: #fff;
  animation: php 1s linear forwards;
}

.html span {
  border: 1px solid #fff;
}

.css span {
  border: 1px solid #fff;
}

.javascript span {
  border: 1px solid #fff;
}

.php span {
  border: 1px solid #fff;
}

@keyframes html {
  100% {
    width: 90%;
  }
}

@keyframes css {
  100% {
    width: 85%;
  }
}

@keyframes javascript {
  100% {
    width: 60%;
  }
}

@keyframes php {
  100% {
    width: 40%;
  }
}

/*.skills-section {
  background: url("skills3.jpeg") no-repeat right;
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.skills-container {
  width: 50%;
  float: left;
  background-color: #fdfdfd;
  padding: 100px;
}*/

/*.skills-text {
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}*/

.projects-section {
  background: url("projects.jpeg") no-repeat left;
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.projects-container {
  width: 50%;
  float: right;
  background-color: #fdfdfd;
  padding: 100px;
}

.projects-text {
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 20px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
  color: #ffffff;
}

.container:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("image\ contact\ form.jpeg") no-repeat center;
  background-size: cover;
  z-index: -1;
  filter: blur(3px);
}

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
  height: 100%;
  background: url("image\ contact\ form.jpeg") no-repeat center;
  background-size: cover;
}

.right {
  padding: 25px 40px;
}

h2 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
}

.field {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  background-color: #fff;
  border: 2px solid burlywood;
}

.area {
  min-height: 150px;
}

.btn {
  font-size: 1.1rem;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.3s;
  border-radius: 20px;
  padding: 0.5rem 5rem;
}
